
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Karla');

// Variables
@import 'variables';

* { 
	font-size: 10px;
	font-family: 'Karla', sans-serif;
}

html {
	// padding: 30px;
	// background: $black;
}

button:focus {
	outline: none;
	cursor: pointer;
}

body {
	margin: 0;
}

nav {
	display: grid;
	grid-template-columns: 40vw 1fr;
	padding: 30px 0;
	background: #fff;

	> div:first-child {
		text-align: center;
	}

	> div:last-child {
		ul {
			margin: 0;

			li { 
				display: inline; 
				margin-left: 20px;
				text-transform: uppercase;

				a {
					font-size: 1.2rem;
					font-weight: bold;
					letter-spacing: 3px;
					color: #1d1f2e;
					opacity: .6;
					transition: opacity .7s ease;
					text-decoration: none;

					&:hover {
						opacity: 1;
						transition: opacity .7s ease;
					}
				}
			}
		}
	}
}


section.newsletter {
	display: grid;
	grid-template-columns: 1fr 80% 1fr;
	grid-template-rows: auto auto;
	// grid-row-gap: 40px;
	align-items: center;

	margin-top: 80px;
	padding: 60px 0;
	background: $black;

	.section-title {
		grid-column: 2;
		grid-row: 1;
		text-align: center;

		h2 {
			font-size: 1.2rem;
			font-weight: bold;
			text-transform: uppercase;
			color: #fff;
			opacity: .6;
			letter-spacing: 3px;
			margin-bottom: 20px;
		}
	}

	.form {
		grid-column: 2;
		grid-row: 2;
		justify-self: center;

		h3 {
			color: #fff;
			text-align: center;
			font-size: 4rem;
			margin: 0;
			font-weight: 400;
		}

		form {
			margin-top: 20px;
			display: grid;
			grid-template-columns: 2fr 1fr;
			grid-column-gap: 10px;

			input {
				font-size: 1.2rem;
				padding: 8px 15px;
				height: 30px;
				background: $black;
				color: #fff;
				border: 1px solid rgba(210,210,213,.1);
				transition: border .4s ease;
				text-transform: uppercase;
				letter-spacing: 2px;
				font-weight: 600;

				&:hover, &:focus {
					border: 1px solid rgba(255,255,255,.5);
					transition: border .4s ease;
					outline: none;
				}
			}

			button {
				height: 46px;
				padding: 8px 20px;
				font-size: 1.2rem;
				font-weight: bold;
				letter-spacing: 3px;
				color: $black;
				background: #fff;
				border: none;
			}
		}
	}
}


footer {
	margin-top: 80px;
	margin-bottom: 80px;
	display: grid;
	grid-template-columns: 1fr 70% 1fr;

	> div {
		grid-column: 2;

		display: grid;
		grid-template-columns: 2fr 1fr 1fr 2fr;

		> div h2 {
			font-size: 1.4rem;
			color: $black;
			opacity: .6;
			letter-spacing: 3px;
		}

		> div:first-child {
			display: grid;

			h2 {
				font-size: 2rem;
				color: $black;
				align-self: start;
				opacity: 1;
				letter-spacing: 0;
			}

			p {
				font-size: 1.4rem;
				color: $black;
				opacity: .6;
				align-self: start;
			}

			i {
				color: $black;
				opacity: .4;
				align-self: end;
				font-style: normal;
				font-size: 1.4rem;
			}
		}

		> .menu, > .social {
			ul {
				padding: 0;

				li {
					list-style: none;
					padding: 7px 0;

					a {
						text-decoration: none;
						font-size: 1.4rem;
						color: $black;
						opacity: .6;
					}
				}
			}
		}

		> .contact {
			display: grid;

			p {
				font-size: 1.4rem;
				color: $black;
				opacity: .6;
				margin: 20px 0;
			}

			a {
				text-decoration: none;
				color: $black;
				font-size: 2rem;
			}

			i {
				color: $black;
				opacity: .4;
				align-self: end;
				font-style: normal;
				font-size: 1.4rem;
			}
		}
	}
}

.side-cart {
	display: grid;
	grid-template-columns: 65vw 35vw;
	position: fixed;
	top: 0;
	z-index: 666;

	&.active {
		right: 0;
		opacity: 1;
		transition: all .4s ease;
	}

	&:not(.active){
		right: -100vw;
		opacity: 0;
		transition: all .4s ease;

		// > div:first-child {
		// 	opacity: 0;
		// 	transition: opacity .7s ease;
		// }

		// > div:last-child {
		// 	opacity: 0;
		// 	transition: all .7s ease;
		// }
	}

	> div:first-child {
		background: $black;
		opacity: .4;
		transition: opacity .7s ease;
	}

	> div:last-child {
		height: 100vh;
		background: $black;

		.title {
			display: grid;
			grid-template-columns: 1fr 1fr;
			color: #fff;
			padding: 30px 40px;
			border-bottom: 1px solid hsla(240, 3%, 83%, .1);
			
			p {
				margin: 0;
				font-size: 1.2rem;
				opacity: .6;
				letter-spacing: 2px;
			}

			i {
				font-size: 2rem;
				justify-self: end;
				opacity: .6;
				cursor: pointer;
			}
		}

		#cart {
			.empty-cart {
				display: grid;
				height: 100vh;

				align-items: center;
				color: #fff;
				text-align: center;

				div {
					padding: 0 40px;
				}

				h2 {
					font-size: 2rem;
					font-weight: 400;
					margin-top: 0;
				}

				p {
					font-size: 1.4rem;
					opacity: .6;
				}
			}

			> div:not(.empty-cart) {
				padding: 30px 30px;

				.item {
					display: grid;
					grid-template-columns: 80px 1fr 1fr 60px;
					grid-template-rows: auto auto auto;
					grid-gap: 8px 10px;

					* { margin: 0 }

					.image {
						grid-column: 1;
						grid-row: 1 / span 3;
						background: #fff;
					}

					.name {
						grid-column: 2 / span 2;
						font-size: 1.8rem;
						color: #fff;
					}

					.price {
						grid-column: 2 / span 2;
						grid-row: 2;
						font-size: 1.6rem;
						color: #fff;
					}

					a {
						grid-column: 2 / span 2;
						grid-row: 3;
						text-decoration: none;
						color: #fff;
						opacity: .6;
						font-size: 1.2rem;
						letter-spacing: 2px;
					}

					input {
						grid-column: 4;
						grid-row: 1 / span 3;
						align-self: center;
						font-size: 1.6rem;
						height: 30px;
						padding: 5px;
						text-align: center;
						background: $black;
						border: 1px solid rgba(210,210,213,.1);
						color: #fff;
						transition: border .4s ease;
						
						&:hover, &:focus {
							border: 1px solid rgba(255,255,255,.5);
							transition: border .4s ease;
							outline: none;
						}
					}
				}
			}
		}
	}
}
