
// Fonts
// @import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Karla');

// Variables
@import 'variables';

* { 
	font-size: 10px;
	font-family: 'Karla', sans-serif;
}

html {
	padding: 30px;
}

body {
	margin: 0;
}

nav {
	display: grid;
	grid-template-columns: 40vw 1fr;
	margin-bottom: 30px;

	> div:first-child {
		text-align: center;
	}

	> div:last-child {
		ul {
			margin: 0;

			li { 
				display: inline; 
				margin-left: 20px;
				text-transform: uppercase;

				a {
					font-size: 1.2rem;
					font-weight: bold;
					letter-spacing: 3px;
					color: #1d1f2e;
					opacity: .6;
					transition: opacity .7s ease;
					text-decoration: none;

					&:hover {
						opacity: 1;
						transition: opacity .7s ease;
					}
				}
			}
		}
	}
}
