@import url(https://fonts.googleapis.com/css?family=Karla);* {
  font-size: 10px;
  font-family: "Karla", sans-serif;
}

button:focus {
  outline: none;
  cursor: pointer;
}

body {
  margin: 0;
}

nav {
  display: grid;
  grid-template-columns: 40vw 1fr;
  padding: 30px 0;
  background: #fff;
}

nav > div:first-child {
  text-align: center;
}

nav > div:last-child ul {
  margin: 0;
}

nav > div:last-child ul li {
  display: inline;
  margin-left: 20px;
  text-transform: uppercase;
}

nav > div:last-child ul li a {
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: #1d1f2e;
  opacity: 0.6;
  transition: opacity 0.7s ease;
  text-decoration: none;
}

nav > div:last-child ul li a:hover {
  opacity: 1;
  transition: opacity 0.7s ease;
}

section.newsletter {
  display: grid;
  grid-template-columns: 1fr 80% 1fr;
  grid-template-rows: auto auto;
  align-items: center;
  margin-top: 80px;
  padding: 60px 0;
  background: #1d1f2e;
}

section.newsletter .section-title {
  grid-column: 2;
  grid-row: 1;
  text-align: center;
}

section.newsletter .section-title h2 {
  font-size: 1.2rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  opacity: 0.6;
  letter-spacing: 3px;
  margin-bottom: 20px;
}

section.newsletter .form {
  grid-column: 2;
  grid-row: 2;
  justify-self: center;
}

section.newsletter .form h3 {
  color: #fff;
  text-align: center;
  font-size: 4rem;
  margin: 0;
  font-weight: 400;
}

section.newsletter .form form {
  margin-top: 20px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-column-gap: 10px;
}

section.newsletter .form form input {
  font-size: 1.2rem;
  padding: 8px 15px;
  height: 30px;
  background: #1d1f2e;
  color: #fff;
  border: 1px solid rgba(210, 210, 213, 0.1);
  transition: border 0.4s ease;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 600;
}

section.newsletter .form form input:hover,
section.newsletter .form form input:focus {
  border: 1px solid rgba(255, 255, 255, 0.5);
  transition: border 0.4s ease;
  outline: none;
}

section.newsletter .form form button {
  height: 46px;
  padding: 8px 20px;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 3px;
  color: #1d1f2e;
  background: #fff;
  border: none;
}

footer {
  margin-top: 80px;
  margin-bottom: 80px;
  display: grid;
  grid-template-columns: 1fr 70% 1fr;
}

footer > div {
  grid-column: 2;
  display: grid;
  grid-template-columns: 2fr 1fr 1fr 2fr;
}

footer > div > div h2 {
  font-size: 1.4rem;
  color: #1d1f2e;
  opacity: 0.6;
  letter-spacing: 3px;
}

footer > div > div:first-child {
  display: grid;
}

footer > div > div:first-child h2 {
  font-size: 2rem;
  color: #1d1f2e;
  align-self: start;
  opacity: 1;
  letter-spacing: 0;
}

footer > div > div:first-child p {
  font-size: 1.4rem;
  color: #1d1f2e;
  opacity: 0.6;
  align-self: start;
}

footer > div > div:first-child i {
  color: #1d1f2e;
  opacity: 0.4;
  align-self: end;
  font-style: normal;
  font-size: 1.4rem;
}

footer > div > .menu ul,
footer > div > .social ul {
  padding: 0;
}

footer > div > .menu ul li,
footer > div > .social ul li {
  list-style: none;
  padding: 7px 0;
}

footer > div > .menu ul li a,
footer > div > .social ul li a {
  text-decoration: none;
  font-size: 1.4rem;
  color: #1d1f2e;
  opacity: 0.6;
}

footer > div > .contact {
  display: grid;
}

footer > div > .contact p {
  font-size: 1.4rem;
  color: #1d1f2e;
  opacity: 0.6;
  margin: 20px 0;
}

footer > div > .contact a {
  text-decoration: none;
  color: #1d1f2e;
  font-size: 2rem;
}

footer > div > .contact i {
  color: #1d1f2e;
  opacity: 0.4;
  align-self: end;
  font-style: normal;
  font-size: 1.4rem;
}

