@import url(https://fonts.googleapis.com/css?family=Karla);* {
  font-size: 10px;
  font-family: "Karla", sans-serif;
}

body {
  background-color: rgba(29, 31, 46, 0.1);
  display: grid;
  grid-template-columns: 13vw repeat(3, 28vw);
  grid-template-areas: "header header header header" "nav content content content";
}

header {
  grid-area: header;
  width: calc(100vw - 6vw);
  margin: 0 30px 20px 30px;
  padding: 20px 0;
  border-bottom: 1px solid rgba(29, 31, 46, 0.2);
}

nav {
  grid-area: nav;
  margin: 0 30px;
}

nav ul {
  padding: 0;
}

nav ul li {
  list-style: none;
  padding: 5px 0;
}

nav ul li a {
  font-size: 1.4rem;
  text-decoration: none;
  color: #1d1f2e;
}

nav ul li a:not(.active) {
  opacity: 0.6;
  font-size: 1.3rem;
}

main {
  grid-area: content;
  padding-right: 3vw;
  margin-bottom: 40px;
}

section.overview,
section.products,
section.form {
  background-color: #fff;
  border-radius: 4px;
}

section.overview h2,
section.products h2,
section.form h2 {
  color: #1d1f2e;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  padding: 20px 25px;
}

